body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #3a1c71, #6a3093, #8e44ad);
    min-height: 100vh;
    color: white; 
}

h1 {
  color: blue;
}

.llamar-link {
    display:inline-block;
    padding:10px 20px;
    background-color:green; 
    color:white; 
    text-decoration:none; 
    border-radius:5px;
    margin: 5px;
    font-weight: bold ;
    width: 100px;
}

.facebook-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4267B2; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    font-size: 16px;
    transition: background 0.4s;
    margin-bottom: 25px;
    width: 100px;
    justify-content: center;
}

.facebook-link:hover {
    background-color: #365899;
}

.whats-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    font-size: 16px;
    transition: background 0.4s;
    margin-bottom: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
   align-items: center; 
   width: 100px;
}

form {
    width: 300px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border-radius: 5px;
}

#phone {
  margin-bottom: 25px;
}

#estudios {
  text-align: center;
}

.contact-row {
  display: flex;
  justify-items: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 25px;
}

section {
  width: 90%;
  max-width: 700px;
  margin: auto;
  line-height: 1.5;
}

footer {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}

#lista {
   padding: 20px 0;
}

#enc {
    color: #e2c8ff;  
    transition: color 0.3s ease;
    text-align: center;
}

#header.scrolled {
    color: #8b6fcf; 
}
#clean {
  margin: 10px;
}

/*color de los links*/
a {
    color: yellow; 
    text-decoration: none;
}

a:visited {
    color: yellow; 
}

a:hover {
    color: #1ebe5d; /* un verde más claro opcional */
}

a:active {
    color: white;
}

#vision {
  text-align: left;
  padding-left: 16px;
  padding-right: 32px;
}

#ex li {
  margin: 10px;
  line-height: 1.8;
}

.est li {
  margin-bottom: 10px;
  line-height: 1.6;
}

#lista ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0;
}

@media (max-width: 600px) {
  #lista ul {
    flex-direction: column;
    align-items: center;
  }
}


#enc {
  text-align: center;
    position: fixed; /* Se queda mientras navegas */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg); /* Centrado y rotado */
    font-size: 50px;
    color: rgba(0, 0, 0, 0.2); /* Transparente */
    pointer-events: none; /* Para que no interfiera con clics */
    z-index: 9999;
    white-space: nowrap;
}